<div class="user-details">
  <h1>ABOUT</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design+Engineer</h2>
    <p>Senior Designer at Technology Institute, Tencent Games, USA Digital Virtual World Creator … etc.</p>
    <svg
  width="100px"
  height="100px"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M2 22L0 24l2-2h16.585L18 22H2zM3 18h15.285l1.415-1.414L5.414 3.586 4 5 3 6l-1 1 16 16H3v-4z"
    fill="#FF5733"
  />
  <path
    d="M3 21h15.285l1.415-1.414L5.414 2.586 4 4l-1 1 16 16H3v-4z"
    fill="#FFFFFF"
  />
</svg>
  </div>
  <div class="tech">
    <h2>Athlete</h2>    
    <p>National-level Football Player Honor Title Certification, FIFA, IOC, Universities Achievement Certificates … etc.</p>
  </div>
  <div class="tech">
    <h2>Lifelong Learner</h2>
    <p>Harvard, MIT, Imperial, Vanderbilt, Dartmouth, RIT, UC, UW, ASU, FAU, USF, SCU Certificates … etc.</p>
  </div>
</div>
