<div class="user-details">
  </div>
  <h1>ABOUT</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design+Engineer</h2>
    <p>Senior Designer at Technology Institute, Tencent Games, USA Digital Virtual World Creator … etc.</p>
  </div>
  <div class="tech">
    <h2>Athlete</h2>
    <p>National-level Football Player Honor Title Certification, FIFA, IOC, Universities Achievement Certificates … etc.</p>
  </div>
  <div class="tech">
    <h2>Lifelong Learner</h2>
    <p>Harvard, MIT, Imperial, Vanderbilt, Dartmouth, RIT, UC, UW, ASU, FAU, USF, SCU Certificates … etc.</p>
  </div>

